#body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #273631;
}

#box {
    height: 300px;
    width: 300px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 16px;
    background-color: #375F45;
}

#input {
    display: flex;
    flex-direction: row;
}

.text {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

#button {
    background-color: white;
    height: 50px;
    width: 100px;
    border-radius: 8px;
    border: none;
    transition: linear 0.3s;
    color: #273631;
}

#button:hover {
    background-color: #273631;
    color: aliceblue;
    cursor: pointer;
}

#number1 {
    height: 50px;
    width: 100px;
    border-radius: 8px;
    margin-right: 10px;
    border: none;
}

#text2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

#text3 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

#text4 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

#div1 {
    display: flex;
    flex-direction: row;
}